.conteudo{
    width: 100%;
    text-align: center;
}

.jogos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    text-align: center;
    padding: 20px;
}

.jogos a{
    padding-top: 30px;
    text-align: center;
    display: inline-block;
    width: 300px;
    height: 100px;
    background-color:rgb(146, 111, 86);
    font-size: 20px;
    color: black;
    text-decoration: none;
    margin-left: 10px;
    border-radius: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.jogos a:hover{
    background-color: transparent;
}

.jogos{
    padding-left: 5%;
}